{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'app/css/profile.css' %}">
</head>
<body>
    <header>
        <div class="menu-icon">
            <span>&#9776;</span>
        </div>
        <h1>Profile</h1>
        <div class="notification-icon">
            <span>&#128276;</span>
        </div>
    </header>
    <main>
        <section class="user-profile">
            <div class="user-avatar">
                <span>&#128100;</span>
            </div>
            <div class="user-info">
                <h2 id="user-name">Nama Pengguna</h2>
                <p id="user-email">email@pengguna.com</p>
            </div>
        </section>
        <section class="menu-options">
            <div class="menu-item">
                <div class="icon help-icon">&#10067;</div>
                <span>Bantuan</span>
            </div>
            <div class="menu-item">
                <div class="icon settings-icon">&#9881;</div>
                <span>Pengaturan</span>
            </div>
        </section>
    </main>
</body>
<script src="script-profile.js"></script>
</html>
